<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Frontend Mentor IP Address Tracker">
  <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon-32x32.png">  
  <title>Frontend Mentor | IP Address Tracker</title>
</head>
<body>
  <header class="header">
    <div class="header__wrapper">
      <h1 class="header__title">IP Address Tracker</h1>
      <form id="formIpAddress" autocomplete="off">
        <div class="form__group">
          <input type="text" class="form__control" name="ip_address" id="ip_address" placeholder="Search for any IP address or domain">
          <button type="submit" class="form__submit" aria-label="Search for Ip or domain address"></button>
        </div>
      </form>
      <div class="tracker">
        <ul class="tracker__list">
          <li class="tracker__item">
            <h2 class="tracker__label">Ip Address</h2>
            <span id="trackerIP" class="tracker__text"></span>
          </li>
          <li class="tracker__item">
            <h2 class="tracker__label">Location</h2>
            <span id="trackerLocation" class="tracker__text"></span>
          </li>
          <li class="tracker__item">
            <h2 class="tracker__label">Timezone</h2>
            <span id="trackerTimezone" class="tracker__text"></span>
          </li>
          <li class="tracker__item">
            <h2 class="tracker__label">ISP</h2>
            <span id="trackerISP" class="tracker__text"></span>
          </li>
        </ul>
      </div>
    </div>
  </header>
  <main>
    <section class="map" id='mapId'>
      <div class="map__spinner">
        <div class="pin"></div>
        <div class="pulse"></div>
      </div>     
    </section>
  </main>
</body>
</html>